.navbar {
  display: flex;
  background-color: #9b129b;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 10vh;
  color: white;
  position: fixed;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  z-index: 1;
  
  
}
.content{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10vh;
    align-items: center;
    top: 20vh;
    flex-direction: column;
  }
  
.adress{
  margin-top: 20px;
  color: #9b129b;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border: 2px solid #9b129b;
  border-radius: 6px;
  cursor: pointer;
 
  }
